html {
	background-color: #000000;
	padding-top: 20px;
	padding-left: 20px;
}
.topText{
	float: left;
}
.title {
	text-align: center;
	background-color: #000000;
	color: white;
	font-family: impact;
	font-size: 75px;
}
.cnvas {
	text-align: center;
	float: center;
}
.caught {
	color: white;
	text-align: center;
}
.boost {
	color: white;
	text-align: center;
}
.muteBtn {
	font-family: arial;
	color: white;
	text-align: center;
}
